repos:
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v1.7.0
    hooks:
      - id: reorder-python-imports
        args: [--separate-relative]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.3.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==19.10b0]
